<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>cht</key>
        <string>[坏笑]</string>
        <key>png</key>
        <string>pcmoren_huaixiao_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[舔屏]</string>
        <key>png</key>
        <string>pcmoren_tian_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[污]</string>
        <key>png</key>
        <string>pcmoren_wu_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[允悲]</string>
        <key>png</key>
        <string>moren_yunbei_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[笑而不语]</string>
        <key>png</key>
        <string>moren_xiaoerbuyu_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[费解]</string>
        <key>png</key>
        <string>moren_feijie_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[憧憬]</string>
        <key>png</key>
        <string>moren_chongjing_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[并不简单]</string>
        <key>png</key>
        <string>moren_bbjdnew_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[微笑]</string>
        <key>png</key>
        <string>huanglianwx_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[嘻嘻]</string>
        <key>png</key>
        <string>tootha_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[哈哈]</string>
        <key>png</key>
        <string>laugh.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[可爱]</string>
        <key>png</key>
        <string>tza_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[可怜]</string>
        <key>png</key>
        <string>kl_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[挖鼻]</string>
        <key>png</key>
        <string>wabi_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[吃惊]</string>
        <key>png</key>
        <string>cj_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[害羞]</string>
        <key>png</key>
        <string>shamea_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[挤眼]</string>
        <key>png</key>
        <string>zy_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[闭嘴]</string>
        <key>png</key>
        <string>bz_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[鄙视]</string>
        <key>png</key>
        <string>bs2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[爱你]</string>
        <key>png</key>
        <string>lovea_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[泪]</string>
        <key>png</key>
        <string>sada_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[偷笑]</string>
        <key>png</key>
        <string>heia_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[亲亲]</string>
        <key>png</key>
        <string>qq_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[生病]</string>
        <key>png</key>
        <string>sb_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[太开心]</string>
        <key>png</key>
        <string>mb_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[白眼]</string>
        <key>png</key>
        <string>landeln_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[右哼哼]</string>
        <key>png</key>
        <string>yhh_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[左哼哼]</string>
        <key>png</key>
        <string>zhh_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[嘘]</string>
        <key>png</key>
        <string>x_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[衰]</string>
        <key>png</key>
        <string>cry.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[委屈]</string>
        <key>png</key>
        <string>wq_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[吐]</string>
        <key>png</key>
        <string>t_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[哈欠]</string>
        <key>png</key>
        <string>haqianv2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[抱抱_旧]</string>
        <key>png</key>
        <string>bba_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[怒]</string>
        <key>png</key>
        <string>angrya_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[疑问]</string>
        <key>png</key>
        <string>yw_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[馋嘴]</string>
        <key>png</key>
        <string>cza_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[拜拜]</string>
        <key>png</key>
        <string>040.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[思考]</string>
        <key>png</key>
        <string>sk_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[汗]</string>
        <key>png</key>
        <string>sweata_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[困]</string>
        <key>png</key>
        <string>kunv2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[睡]</string>
        <key>png</key>
        <string>huangliansj_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[钱]</string>
        <key>png</key>
        <string>money_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[失望]</string>
        <key>png</key>
        <string>sw_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[酷]</string>
        <key>png</key>
        <string>cool_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[色]</string>
        <key>png</key>
        <string>huanglianse_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[哼]</string>
        <key>png</key>
        <string>hatea_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[鼓掌]</string>
        <key>png</key>
        <string>gza_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[晕]</string>
        <key>png</key>
        <string>dizzya_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[悲伤]</string>
        <key>png</key>
        <string>bs_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[抓狂]</string>
        <key>png</key>
        <string>crazya_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[黑线]</string>
        <key>png</key>
        <string>h_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[阴险]</string>
        <key>png</key>
        <string>yx_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[怒骂]</string>
        <key>png</key>
        <string>numav2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[互粉]</string>
        <key>png</key>
        <string>hufen_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[心]</string>
        <key>png</key>
        <string>hearta_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[伤心]</string>
        <key>png</key>
        <string>unheart.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[猪头]</string>
        <key>png</key>
        <string>pig.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[熊猫]</string>
        <key>png</key>
        <string>panda_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[兔子]</string>
        <key>png</key>
        <string>rabbit_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[ok]</string>
        <key>png</key>
        <string>ok_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[耶]</string>
        <key>png</key>
        <string>ye_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[good]</string>
        <key>png</key>
        <string>good_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[NO]</string>
        <key>png</key>
        <string>buyao_org.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[赞]</string>
        <key>png</key>
        <string>z2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[来]</string>
        <key>png</key>
        <string>come_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[弱]</string>
        <key>png</key>
        <string>sad_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[草泥马]</string>
        <key>png</key>
        <string>shenshou_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[神马]</string>
        <key>png</key>
        <string>horse2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[囧]</string>
        <key>png</key>
        <string>j_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[浮云]</string>
        <key>png</key>
        <string>fuyun_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[给力]</string>
        <key>png</key>
        <string>geiliv2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[围观]</string>
        <key>png</key>
        <string>wg_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[威武]</string>
        <key>png</key>
        <string>vw_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[话筒]</string>
        <key>png</key>
        <string>huatongv2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[蜡烛]</string>
        <key>png</key>
        <string>lazhuv2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[蛋糕]</string>
        <key>png</key>
        <string>cakev2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[牛郎]</string>
        <key>png</key>
        <string>qixi17_niulang_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[织女]</string>
        <key>png</key>
        <string>qixi17_zhinv_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[广告]</string>
        <key>png</key>
        <string>ad_new0902_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[doge]</string>
        <key>png</key>
        <string>doge_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[喵喵]</string>
        <key>png</key>
        <string>mm_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[二哈]</string>
        <key>png</key>
        <string>moren_hashiqi_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[给力]</string>
        <key>png</key>
        <string>geiliv2_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[小黄人坏笑]</string>
        <key>png</key>
        <string>xiaohuangren_huaixiao_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[小黄人剪刀手]</string>
        <key>png</key>
        <string>xiaohuangren_jiandaoshou_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[小黄人高兴]</string>
        <key>png</key>
        <string>xiaohuangren_gaoxing_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[笑cry]</string>
        <key>png</key>
        <string>xiaoku_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[摊手]</string>
        <key>png</key>
        <string>pcmoren_tanshou_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[抱抱]</string>
        <key>png</key>
        <string>pcmoren_baobao_thumb.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[红包飞]</string>
        <key>png</key>
        <string>hongbao1_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[发红包]</string>
        <key>png</key>
        <string>fahongbao_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[冰川时代希德奶奶]</string>
        <key>png</key>
        <string>bhsj5_nainai_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[快银]</string>
        <key>png</key>
        <string>xman_kuaiyin_org.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[暴风女]</string>
        <key>png</key>
        <string>xman_baofengnv_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[芒果流口水]</string>
        <key>png</key>
        <string>mango_07_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[芒果点赞]</string>
        <key>png</key>
        <string>mango_12_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[芒果大笑]</string>
        <key>png</key>
        <string>mango_02_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[芒果得意]</string>
        <key>png</key>
        <string>mango_03_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[芒果萌萌哒]</string>
        <key>png</key>
        <string>mango_11_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[羊年大吉]</string>
        <key>png</key>
        <string>yangniandj_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[西瓜]</string>
        <key>png</key>
        <string>watermelon.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[足球]</string>
        <key>png</key>
        <string>football.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[老妈我爱你]</string>
        <key>png</key>
        <string>mothersday_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[母亲节]</string>
        <key>png</key>
        <string>carnation_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[肥皂]</string>
        <key>png</key>
        <string>soap_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[有钱]</string>
        <key>png</key>
        <string>youqian_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[地球一小时]</string>
        <key>png</key>
        <string>earth1r_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[国旗]</string>
        <key>png</key>
        <string>flag_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[许愿]</string>
        <key>png</key>
        <string>lxhxuyuan_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[风扇]</string>
        <key>png</key>
        <string>fan.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[炸鸡和啤酒]</string>
        <key>png</key>
        <string>zhaji_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[雪]</string>
        <key>png</key>
        <string>snow_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[马上有对象]</string>
        <key>png</key>
        <string>mashangyouduixiang_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[马到成功旧]</string>
        <key>png</key>
        <string>madaochenggong_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[青啤鸿运当头]</string>
        <key>png</key>
        <string>hongyun_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[让红包飞]</string>
        <key>png</key>
        <string>hongbaofei2014_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[ali做鬼脸]</string>
        <key>png</key>
        <string>alizuoguiliannew_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[ali哇]</string>
        <key>png</key>
        <string>aliwanew_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[xkl转圈]</string>
        <key>png</key>
        <string>xklzhuanquan_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[酷库熊顽皮]</string>
        <key>png</key>
        <string>kxwanpi_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm可爱]</string>
        <key>png</key>
        <string>bmkeai_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[BOBO爱你]</string>
        <key>png</key>
        <string>boaini_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[转发]</string>
        <key>png</key>
        <string>lxhzhuanfa_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[得意地笑]</string>
        <key>png</key>
        <string>lxhdeyidixiao_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[ppb鼓掌]</string>
        <key>png</key>
        <string>ppbguzhang_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[din推撞]</string>
        <key>png</key>
        <string>dintuizhuang_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[moc转发]</string>
        <key>png</key>
        <string>moczhuanfa_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[lt切克闹]</string>
        <key>png</key>
        <string>ltqiekenao_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[江南style]</string>
        <key>png</key>
        <string>gangnamstyle_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[给力]</string>
        <key>png</key>
        <string>lxhwahaha_thumb.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm做操]</string>
        <key>png</key>
        <string>bm_1.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm抓狂]</string>
        <key>png</key>
        <string>bm_2.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm中枪]</string>
        <key>png</key>
        <string>bm_3.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm震惊]</string>
        <key>png</key>
        <string>bm_4.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm赞]</string>
        <key>png</key>
        <string>bm_5.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm喜悦]</string>
        <key>png</key>
        <string>bm_6.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm醒悟]</string>
        <key>png</key>
        <string>bm_7.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm兴奋]</string>
        <key>png</key>
        <string>bm_8.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm血泪]</string>
        <key>png</key>
        <string>bm_9.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm挖鼻孔]</string>
        <key>png</key>
        <string>bm_10.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm吐舌头]</string>
        <key>png</key>
        <string>bm_11.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm吐槽]</string>
        <key>png</key>
        <string>bm_12.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm投诉]</string>
        <key>png</key>
        <string>bm_13.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm跳绳]</string>
        <key>png</key>
        <string>bm_14.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm调皮]</string>
        <key>png</key>
        <string>bm_15.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm讨论]</string>
        <key>png</key>
        <string>bm_16.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm抬腿]</string>
        <key>png</key>
        <string>bm_17.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm思考]</string>
        <key>png</key>
        <string>bm_18.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm生气]</string>
        <key>png</key>
        <string>bm_19.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm亲吻]</string>
        <key>png</key>
        <string>bm_20.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm庆幸]</string>
        <key>png</key>
        <string>bm_21.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm内涵]</string>
        <key>png</key>
        <string>bm_22.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm忙碌]</string>
        <key>png</key>
        <string>bm_23.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm乱入]</string>
        <key>png</key>
        <string>bm_24.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm卖萌]</string>
        <key>png</key>
        <string>bm_25.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm流泪]</string>
        <key>png</key>
        <string>bm_26.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm流口水]</string>
        <key>png</key>
        <string>bm_27.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm流鼻涕]</string>
        <key>png</key>
        <string>bm_28.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm路过]</string>
        <key>png</key>
        <string>bm_29.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm咧嘴]</string>
        <key>png</key>
        <string>bm_30.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm啦啦队]</string>
        <key>png</key>
        <string>bm_31.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm哭诉]</string>
        <key>png</key>
        <string>bm_32.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm哭泣]</string>
        <key>png</key>
        <string>bm_33.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm苦逼]</string>
        <key>png</key>
        <string>bm_34.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm口哨]</string>
        <key>png</key>
        <string>bm_35.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm可爱]</string>
        <key>png</key>
        <string>bm_36.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm紧张]</string>
        <key>png</key>
        <string>bm_37.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm惊讶]</string>
        <key>png</key>
        <string>bm_38.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm惊吓]</string>
        <key>png</key>
        <string>bm_39.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm焦虑]</string>
        <key>png</key>
        <string>bm_40.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm会心笑]</string>
        <key>png</key>
        <string>bm_41.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm坏笑]</string>
        <key>png</key>
        <string>bm_42.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm花痴]</string>
        <key>png</key>
        <string>bm_43.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm厚脸皮]</string>
        <key>png</key>
        <string>bm_44.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm好吧]</string>
        <key>png</key>
        <string>bm_45.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm害怕]</string>
        <key>png</key>
        <string>bm_46.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm鬼脸]</string>
        <key>png</key>
        <string>bm_47.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm孤独]</string>
        <key>png</key>
        <string>bm_48.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm高兴]</string>
        <key>png</key>
        <string>bm_49.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm搞怪]</string>
        <key>png</key>
        <string>bm_50.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm干笑]</string>
        <key>png</key>
        <string>bm_51.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm感动]</string>
        <key>png</key>
        <string>bm_52.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm愤懑]</string>
        <key>png</key>
        <string>bm_53.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm反对]</string>
        <key>png</key>
        <string>bm_54.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm踱步]</string>
        <key>png</key>
        <string>bm_55.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm顶]</string>
        <key>png</key>
        <string>bm_56.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm得意]</string>
        <key>png</key>
        <string>bm_57.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm嘚瑟]</string>
        <key>png</key>
        <string>bm_58.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm大笑]</string>
        <key>png</key>
        <string>bm_59.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm大哭]</string>
        <key>png</key>
        <string>bm_60.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm大叫]</string>
        <key>png</key>
        <string>bm_61.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm吃惊]</string>
        <key>png</key>
        <string>bm_62.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm馋]</string>
        <key>png</key>
        <string>bm_63.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm彩色]</string>
        <key>png</key>
        <string>bm_64.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm缤纷]</string>
        <key>png</key>
        <string>bm_65.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm变身]</string>
        <key>png</key>
        <string>bm_66.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm悲催]</string>
        <key>png</key>
        <string>bm_67.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm暴怒]</string>
        <key>png</key>
        <string>bm_68.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm熬夜]</string>
        <key>png</key>
        <string>bm_69.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[bm暗爽]</string>
        <key>png</key>
        <string>bm_70.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[doge]</string>
        <key>png</key>
        <string>funny_1.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[喵喵]</string>
        <key>png</key>
        <string>funny_2.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[二哈]</string>
        <key>png</key>
        <string>funny_3.png</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[织]</string>
        <key>png</key>
        <string>funny_4.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[兔子]</string>
        <key>png</key>
        <string>funny_5.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[神马]</string>
        <key>png</key>
        <string>funny_6.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[浮云]</string>
        <key>png</key>
        <string>funny_7.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[给力]</string>
        <key>png</key>
        <string>funny_8.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[萌]</string>
        <key>png</key>
        <string>funny_9.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[熊猫]</string>
        <key>png</key>
        <string>funny_10.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[互粉]</string>
        <key>png</key>
        <string>funny_11.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[围观]</string>
        <key>png</key>
        <string>funny_12.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[扔鸡蛋]</string>
        <key>png</key>
        <string>funny_13.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[奥特曼]</string>
        <key>png</key>
        <string>funny_14.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[威武]</string>
        <key>png</key>
        <string>funny_15.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[伤心]</string>
        <key>png</key>
        <string>funny_16.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[热吻]</string>
        <key>png</key>
        <string>funny_17.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[囧]</string>
        <key>png</key>
        <string>funny_18.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[orz]</string>
        <key>png</key>
        <string>funny_19.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[宅]</string>
        <key>png</key>
        <string>funny_20.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[帅]</string>
        <key>png</key>
        <string>funny_21.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[猪头]</string>
        <key>png</key>
        <string>funny_22.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[实习]</string>
        <key>png</key>
        <string>funny_23.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[骷髅]</string>
        <key>png</key>
        <string>funny_24.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[便便]</string>
        <key>png</key>
        <string>funny_25.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[黄牌]</string>
        <key>png</key>
        <string>funny_26.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[红牌]</string>
        <key>png</key>
        <string>funny_27.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[跳舞花]</string>
        <key>png</key>
        <string>funny_28.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[礼花]</string>
        <key>png</key>
        <string>funny_29.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[打针]</string>
        <key>png</key>
        <string>funny_30.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[闪]</string>
        <key>png</key>
        <string>funny_31.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[啦啦]</string>
        <key>png</key>
        <string>funny_32.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[吼吼]</string>
        <key>png</key>
        <string>funny_33.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[庆祝]</string>
        <key>png</key>
        <string>funny_34.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[嘿]</string>
        <key>png</key>
        <string>funny_35.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[团]</string>
        <key>png</key>
        <string>funny_36.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[圆]</string>
        <key>png</key>
        <string>funny_37.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[男孩儿]</string>
        <key>png</key>
        <string>funny_38.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[女孩儿]</string>
        <key>png</key>
        <string>funny_39.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[炸鸡啤酒]</string>
        <key>png</key>
        <string>funny_40.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[做鬼脸]</string>
        <key>png</key>
        <string>funny_41.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[22]</string>
        <key>png</key>
        <string>funny_42.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[00]</string>
        <key>png</key>
        <string>funny_43.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[2]</string>
        <key>png</key>
        <string>funny_44.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[3]</string>
        <key>png</key>
        <string>funny_45.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[6]</string>
        <key>png</key>
        <string>funny_46.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[7]</string>
        <key>png</key>
        <string>funny_47.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[1]</string>
        <key>png</key>
        <string>funny_48.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[9]</string>
        <key>png</key>
        <string>funny_49.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[4]</string>
        <key>png</key>
        <string>funny_50.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[5]</string>
        <key>png</key>
        <string>funny_51.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[8]</string>
        <key>png</key>
        <string>funny_52.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[z]</string>
        <key>png</key>
        <string>funny_53.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[y]</string>
        <key>png</key>
        <string>funny_54.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[x]</string>
        <key>png</key>
        <string>funny_55.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[v]</string>
        <key>png</key>
        <string>funny_56.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[u]</string>
        <key>png</key>
        <string>funny_57.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[t]</string>
        <key>png</key>
        <string>funny_58.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[s]</string>
        <key>png</key>
        <string>funny_59.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[r]</string>
        <key>png</key>
        <string>funny_60.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[q]</string>
        <key>png</key>
        <string>funny_61.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[p]</string>
        <key>png</key>
        <string>funny_62.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[n]</string>
        <key>png</key>
        <string>funny_63.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[l]</string>
        <key>png</key>
        <string>funny_64.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[k]</string>
        <key>png</key>
        <string>funny_65.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[j]</string>
        <key>png</key>
        <string>funny_66.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[h]</string>
        <key>png</key>
        <string>funny_67.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[g]</string>
        <key>png</key>
        <string>funny_68.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[d]</string>
        <key>png</key>
        <string>funny_69.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[a]</string>
        <key>png</key>
        <string>funny_70.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[w]</string>
        <key>png</key>
        <string>funny_71.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[点]</string>
        <key>png</key>
        <string>funny_72.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[o]</string>
        <key>png</key>
        <string>funny_73.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[m]</string>
        <key>png</key>
        <string>funny_74.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[i]</string>
        <key>png</key>
        <string>funny_75.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[e]</string>
        <key>png</key>
        <string>funny_76.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[c]</string>
        <key>png</key>
        <string>funny_77.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[b]</string>
        <key>png</key>
        <string>funny_78.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[鸭梨]</string>
        <key>png</key>
        <string>funny_79.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[省略号]</string>
        <key>png</key>
        <string>funny_80.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[kiss]</string>
        <key>png</key>
        <string>funny_81.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[雪人]</string>
        <key>png</key>
        <string>funny_82.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[小丑]</string>
        <key>png</key>
        <string>funny_83.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[问号]</string>
        <key>png</key>
        <string>funny_84.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[叹号]</string>
        <key>png</key>
        <string>funny_85.gif</string>
    </dict>
    <dict>
        <key>cht</key>
        <string>[句号]</string>
        <key>png</key>
        <string>funny_86.gif</string>
    </dict>
</array>
</plist>
