<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[bm做操]</string>
		<key>png</key>
		<string>bm_1.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm抓狂]</string>
		<key>png</key>
		<string>bm_2.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm中枪]</string>
		<key>png</key>
		<string>bm_3.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm震惊]</string>
		<key>png</key>
		<string>bm_4.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm赞]</string>
		<key>png</key>
		<string>bm_5.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm喜悦]</string>
		<key>png</key>
		<string>bm_6.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm醒悟]</string>
		<key>png</key>
		<string>bm_7.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm兴奋]</string>
		<key>png</key>
		<string>bm_8.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm血泪]</string>
		<key>png</key>
		<string>bm_9.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm挖鼻孔]</string>
		<key>png</key>
		<string>bm_10.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm吐舌头]</string>
		<key>png</key>
		<string>bm_11.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm吐槽]</string>
		<key>png</key>
		<string>bm_12.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm投诉]</string>
		<key>png</key>
		<string>bm_13.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm跳绳]</string>
		<key>png</key>
		<string>bm_14.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm调皮]</string>
		<key>png</key>
		<string>bm_15.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm讨论]</string>
		<key>png</key>
		<string>bm_16.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm抬腿]</string>
		<key>png</key>
		<string>bm_17.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm思考]</string>
		<key>png</key>
		<string>bm_18.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm生气]</string>
		<key>png</key>
		<string>bm_19.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm亲吻]</string>
		<key>png</key>
		<string>bm_20.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm庆幸]</string>
		<key>png</key>
		<string>bm_21.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm内涵]</string>
		<key>png</key>
		<string>bm_22.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm忙碌]</string>
		<key>png</key>
		<string>bm_23.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm乱入]</string>
		<key>png</key>
		<string>bm_24.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm卖萌]</string>
		<key>png</key>
		<string>bm_25.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm流泪]</string>
		<key>png</key>
		<string>bm_26.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm流口水]</string>
		<key>png</key>
		<string>bm_27.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm流鼻涕]</string>
		<key>png</key>
		<string>bm_28.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm路过]</string>
		<key>png</key>
		<string>bm_29.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm咧嘴]</string>
		<key>png</key>
		<string>bm_30.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm啦啦队]</string>
		<key>png</key>
		<string>bm_31.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm哭诉]</string>
		<key>png</key>
		<string>bm_32.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm哭泣]</string>
		<key>png</key>
		<string>bm_33.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm苦逼]</string>
		<key>png</key>
		<string>bm_34.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm口哨]</string>
		<key>png</key>
		<string>bm_35.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm可爱]</string>
		<key>png</key>
		<string>bm_36.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm紧张]</string>
		<key>png</key>
		<string>bm_37.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm惊讶]</string>
		<key>png</key>
		<string>bm_38.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm惊吓]</string>
		<key>png</key>
		<string>bm_39.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm焦虑]</string>
		<key>png</key>
		<string>bm_40.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm会心笑]</string>
		<key>png</key>
		<string>bm_41.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm坏笑]</string>
		<key>png</key>
		<string>bm_42.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm花痴]</string>
		<key>png</key>
		<string>bm_43.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm厚脸皮]</string>
		<key>png</key>
		<string>bm_44.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm好吧]</string>
		<key>png</key>
		<string>bm_45.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm害怕]</string>
		<key>png</key>
		<string>bm_46.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm鬼脸]</string>
		<key>png</key>
		<string>bm_47.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm孤独]</string>
		<key>png</key>
		<string>bm_48.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm高兴]</string>
		<key>png</key>
		<string>bm_49.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm搞怪]</string>
		<key>png</key>
		<string>bm_50.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm干笑]</string>
		<key>png</key>
		<string>bm_51.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm感动]</string>
		<key>png</key>
		<string>bm_52.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm愤懑]</string>
		<key>png</key>
		<string>bm_53.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm反对]</string>
		<key>png</key>
		<string>bm_54.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm踱步]</string>
		<key>png</key>
		<string>bm_55.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm顶]</string>
		<key>png</key>
		<string>bm_56.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm得意]</string>
		<key>png</key>
		<string>bm_57.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm嘚瑟]</string>
		<key>png</key>
		<string>bm_58.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm大笑]</string>
		<key>png</key>
		<string>bm_59.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm大哭]</string>
		<key>png</key>
		<string>bm_60.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm大叫]</string>
		<key>png</key>
		<string>bm_61.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm吃惊]</string>
		<key>png</key>
		<string>bm_62.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm馋]</string>
		<key>png</key>
		<string>bm_63.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm彩色]</string>
		<key>png</key>
		<string>bm_64.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm缤纷]</string>
		<key>png</key>
		<string>bm_65.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm变身]</string>
		<key>png</key>
		<string>bm_66.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm悲催]</string>
		<key>png</key>
		<string>bm_67.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm暴怒]</string>
		<key>png</key>
		<string>bm_68.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm熬夜]</string>
		<key>png</key>
		<string>bm_69.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[bm暗爽]</string>
		<key>png</key>
		<string>bm_70.gif</string>
	</dict>
</array>
</plist>
