<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[doge]</string>
		<key>png</key>
		<string>funny_1.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[喵喵]</string>
		<key>png</key>
		<string>funny_2.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[二哈]</string>
		<key>png</key>
		<string>funny_3.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[织]</string>
		<key>png</key>
		<string>funny_4.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[兔子]</string>
		<key>png</key>
		<string>funny_5.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[神马]</string>
		<key>png</key>
		<string>funny_6.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[浮云]</string>
		<key>png</key>
		<string>funny_7.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[给力]</string>
		<key>png</key>
		<string>funny_8.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[萌]</string>
		<key>png</key>
		<string>funny_9.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[熊猫]</string>
		<key>png</key>
		<string>funny_10.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[互粉]</string>
		<key>png</key>
		<string>funny_11.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[围观]</string>
		<key>png</key>
		<string>funny_12.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[扔鸡蛋]</string>
		<key>png</key>
		<string>funny_13.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[奥特曼]</string>
		<key>png</key>
		<string>funny_14.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[威武]</string>
		<key>png</key>
		<string>funny_15.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[伤心]</string>
		<key>png</key>
		<string>funny_16.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[热吻]</string>
		<key>png</key>
		<string>funny_17.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[囧]</string>
		<key>png</key>
		<string>funny_18.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[orz]</string>
		<key>png</key>
		<string>funny_19.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[宅]</string>
		<key>png</key>
		<string>funny_20.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[帅]</string>
		<key>png</key>
		<string>funny_21.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[猪头]</string>
		<key>png</key>
		<string>funny_22.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[实习]</string>
		<key>png</key>
		<string>funny_23.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[骷髅]</string>
		<key>png</key>
		<string>funny_24.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[便便]</string>
		<key>png</key>
		<string>funny_25.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[黄牌]</string>
		<key>png</key>
		<string>funny_26.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[红牌]</string>
		<key>png</key>
		<string>funny_27.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[跳舞花]</string>
		<key>png</key>
		<string>funny_28.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[礼花]</string>
		<key>png</key>
		<string>funny_29.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[打针]</string>
		<key>png</key>
		<string>funny_30.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[闪]</string>
		<key>png</key>
		<string>funny_31.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[啦啦]</string>
		<key>png</key>
		<string>funny_32.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[吼吼]</string>
		<key>png</key>
		<string>funny_33.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[庆祝]</string>
		<key>png</key>
		<string>funny_34.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[嘿]</string>
		<key>png</key>
		<string>funny_35.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[团]</string>
		<key>png</key>
		<string>funny_36.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[圆]</string>
		<key>png</key>
		<string>funny_37.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[男孩儿]</string>
		<key>png</key>
		<string>funny_38.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[女孩儿]</string>
		<key>png</key>
		<string>funny_39.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[炸鸡啤酒]</string>
		<key>png</key>
		<string>funny_40.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[做鬼脸]</string>
		<key>png</key>
		<string>funny_41.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[22]</string>
		<key>png</key>
		<string>funny_42.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[00]</string>
		<key>png</key>
		<string>funny_43.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[2]</string>
		<key>png</key>
		<string>funny_44.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[3]</string>
		<key>png</key>
		<string>funny_45.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[6]</string>
		<key>png</key>
		<string>funny_46.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[7]</string>
		<key>png</key>
		<string>funny_47.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[1]</string>
		<key>png</key>
		<string>funny_48.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[9]</string>
		<key>png</key>
		<string>funny_49.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[4]</string>
		<key>png</key>
		<string>funny_50.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[5]</string>
		<key>png</key>
		<string>funny_51.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[8]</string>
		<key>png</key>
		<string>funny_52.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[z]</string>
		<key>png</key>
		<string>funny_53.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[y]</string>
		<key>png</key>
		<string>funny_54.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[x]</string>
		<key>png</key>
		<string>funny_55.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[v]</string>
		<key>png</key>
		<string>funny_56.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[u]</string>
		<key>png</key>
		<string>funny_57.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[t]</string>
		<key>png</key>
		<string>funny_58.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[s]</string>
		<key>png</key>
		<string>funny_59.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[r]</string>
		<key>png</key>
		<string>funny_60.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[q]</string>
		<key>png</key>
		<string>funny_61.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[p]</string>
		<key>png</key>
		<string>funny_62.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[n]</string>
		<key>png</key>
		<string>funny_63.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[l]</string>
		<key>png</key>
		<string>funny_64.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[k]</string>
		<key>png</key>
		<string>funny_65.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[j]</string>
		<key>png</key>
		<string>funny_66.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[h]</string>
		<key>png</key>
		<string>funny_67.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[g]</string>
		<key>png</key>
		<string>funny_68.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[d]</string>
		<key>png</key>
		<string>funny_69.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[a]</string>
		<key>png</key>
		<string>funny_70.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[w]</string>
		<key>png</key>
		<string>funny_71.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[点]</string>
		<key>png</key>
		<string>funny_72.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[o]</string>
		<key>png</key>
		<string>funny_73.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[m]</string>
		<key>png</key>
		<string>funny_74.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[i]</string>
		<key>png</key>
		<string>funny_75.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[e]</string>
		<key>png</key>
		<string>funny_76.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[c]</string>
		<key>png</key>
		<string>funny_77.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[b]</string>
		<key>png</key>
		<string>funny_78.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[鸭梨]</string>
		<key>png</key>
		<string>funny_79.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[省略号]</string>
		<key>png</key>
		<string>funny_80.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[kiss]</string>
		<key>png</key>
		<string>funny_81.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[雪人]</string>
		<key>png</key>
		<string>funny_82.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[小丑]</string>
		<key>png</key>
		<string>funny_83.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[问号]</string>
		<key>png</key>
		<string>funny_84.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[叹号]</string>
		<key>png</key>
		<string>funny_85.gif</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[句号]</string>
		<key>png</key>
		<string>funny_86.gif</string>
	</dict>
</array>
</plist>
