<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CabbageNet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0430C9681E949F450003BE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0430C9811E949F450003BE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0430C98C1E949F450003BE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
